<% include temps/partials/header.ejs %>

<h1>contact</h1>

<h1>Let's learn Webpack</h1>
<div>
    <img src="assets/webpack.png" alt="image">
</div>

<button id="randomInt">A random Integer</button>
<button id="randomRange">A random Integer in a Range</button>

<p id="outputParagraph">You can't see this all the time</p>

<% if (true) { %>

<div class="contact">
    <a href="contact.html">contact page</a>
</div>

<% } %>

<div id="root"></div>

<% include temps/partials/footer.ejs %>
